.weather-app {
  display: block;
  margin: 100px auto;
  margin-bottom: 10px;
  padding: 28px;
  max-width: 500px;
  border-radius: 15px;
  background: linear-gradient(
    57.4deg,
    rgb(249, 206, 183) 4.6%,
    rgb(234, 174, 202) 26%,
    rgb(210, 182, 226) 49.1%,
    rgb(173, 209, 242) 86.5%
  );
  color: #faf6e9;
  font-family: "Unica One", cursive;
}

h1 {
  display: block;
  text-align: left;
  font-size: 45px;
  font-weight: 700;
  padding: 20px 10px 5px;
}
.date {
  display: block;
  text-align: left;
  font-size: 17px;
  line-height: 2px;
  margin: 0 auto;
  padding: 0 10px;
}

.principal-icon {
  display: inline;
  text-align: left;
  margin-right: -5px;
  margin-top: -29px;
  width: 45%;
}

li {
  list-style: none;
}

p {
  display: block;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
}

.profile {
  text-decoration: none;
}

.temperature {
  display: block;
  text-align: left;
  margin-top: 13px;
  padding-top: 18px;
}

#current-temp {
  font-size: 50px;
  font-weight: 600;
}

ul {
  font-size: 15px;
  text-align: justify;
  display: block;
  margin-left: 60px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}

.weather-forecast-date {
  font-size: 17px;
}

.weather-forecast-temperatures {
  font-size: 15px;
}

#search-input {
  font-weight: 100;
  font-size: 14px;
}

.search-button {
  display: block;
  color: #faf6e9;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 10px auto;
  cursor: pointer;
}

.units {
  font-size: 18px;
  position: relative;
  top: -20px;
}
